<div style="width:100vw;overflow:hidden;" >
<div id="map" style="filter:invert();"></div>
<!-- <iframe id="map" src="https://tangrams.github.io/carousel/?daynight#15.13992/37.918/-122.29367"></iframe>  -->
<!-- <iframe id="map" src="https://tangrams.github.io/carousel/?tron#16.72123/40.70506/-74.01911"></iframe>  -->
<!-- <iframe src="https://studio.here.com/viewer/?project_id=1d22b927-9a3f-4eb9-80f7-adb5b9d4bde6" frameborder="0" style="width: 100vw;height: 100vh;z-index: 10"></iframe>
 --></div>